.slider
    position: relative
    height: 400px
    display: flex
    flex-direction: row

    .image
        width: 100%
        border-radius: 10px
    .left
        position: absolute
        left: 10%
        top: 30%
        color: white
        .title
            font-size: 24px
        .creator
            font-size: 12px
            margin-bottom: 10px
    .right
        position: absolute
        right: 10%
        background-color: white
        top: 20%
        display: flex
        flex-direction: column
        width: 250px
        height: 250px
        padding: 10px
        .dateTime
            display: flex
            flex-direction: column
            h1
                font-weight: bold
            .eventTime
                display: flex
                flex-direction: row
                font-size: 12px
                color: gray
                margin-top: 10px
                margin-bottom: 10px
                .date
                    margin-right: 5px
                .p
                    margin-left: 5px
    .calendar
        display: flex
        flex-direction: row
        align-items: center
        .icon
            margin-right: 10px
            color: #9c7ff5
        p
            color: #9c7ff5
    .participate
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 20px
        .bookNow
            width: 90%
            display: flex
            align-items: center
            justify-content: center
            text-align: center
            height: 30px
            background-color: #7f50f3
            border-radius: 5px
            margin-bottom: 5px
            color: white
        .chat
            width: 90%
            display: flex
            align-items: center
            justify-content: center
            text-align: center
            height: 30px
            background-color: #eaebef
            border-radius: 5px
            margin-bottom: 15px
            color: #3e3f4c
        .policy
            font-size: 12px
            color: gray
    .back
        position: absolute
        left: 10%
        top: 5%
        display: flex
        flex-direction: row
        align-items: center
        color: white
        .icon
            margin: 10px
